.Testimonals{
    margin-top: 300px;
}

.head3>h1{
    font-size: 30px;
      font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.head3>p{
    font-family: sans-serif;
    font-size: 20px;
}

.product{
    display: flex;
    justify-content: space-evenly;
}

.product1{
    display: flex;
    justify-content: space-evenly;
}

.Crew{
    margin-top: 250px;
}

.head4>h1{
    font-size: 30px;
      font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}   

.head4>p{
    font-size: 20px;
}

.crew{
    display: flex;
    justify-content: space-evenly;

}

.Emma{
    margin-top: 100px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.121);
}

.Emma>h1{
    font-family: sans-serif;
    color: blueviolet;
}

.Emma>h3{
    font-family: sans-serif;
    margin-top: -15px;
    color: green;
}

.Emma>p{
    font-family: Arial, Helvetica, sans-serif;
    
}

